<div id="wizard" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">
                    <span class="glyphicon glyphicon-map-marker"></span> Markers
                </h4>
            </div>
            <div class="modal-body">
                <!--    tab nav     -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a href="#load" aria-controls="load" role="tab" data-toggle="tab">Load</a>
                    </li>
                    <li role="presentation">
                        <a href="#manage" aria-controls="manage" role="tab" data-toggle="tab">Manage</a>
                    </li>
                </ul>
                <!--    tab content     -->
                <div class="tab-content">
                    <!--    tab pane load     -->
                    <div role="tabpanel" class="tab-pane well" id="load">
                        <form>
                            <div class="form-group file-wrapper">
                                <label class="control-label" id="uploadCsvFileLabel">Upload CSV File</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="uploadCsvFileFake" placeholder="File name..." readonly>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-open-file"></span>
                                        </div>
                                    </div>
                                    <div class="input-group file">
                                        <input type="file" class="form-control" id="uploadCsvFile" placeholder="File name...">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-open-file"></span>
                                        </div>
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        0%
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="csvContent" class="control-label">or paste your content here:</label>
                                <textarea class="form-control" id="csvContent" rows="5">Id,Company Name,Founder,City,Country,Postal Code, Street,Photo,Home Page,Garage Latitude,Garage Longitude
                                    1,Google,Larry Page & Sergey Brin,Mountain View,USA,CA 94043,1600 Amphitheatre Pkwy,http://interviewsummary.com/wp-content/uploads/2013/07/larry-page-and-sergey-brin-of-google-620x400.jpg,http://google.com,37.457674,-122.163452
                                    2,Apple,Steve Jobs & Steve Wozniak,Cupertino,USA,CA 95014,1 Infinite Loop,http://i.dailymail.co.uk/i/pix/2013/02/08/article-2275512-172E13BB000005DC-732_634x505.jpg,http://apple.com,37.3403188,-122.0581469
                                    3,Microsoft,Bill Gates,Redmond,USA,WA 98052-7329,One Microsoft Way,http://postdefiance.com/wp-content/uploads/2013/02/bill-gates-microsoft-young.jpg,http://microsoft.com,37.472189,-122.190191</textarea>
                            </div>
                            <div class="form-group">
                                <span class="clearfix">
                                    <label class="control-label">and select your separator:</label>
                                </span>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-primary active">
                                        <input type="radio" name="separator" id="option1" value="," autocomplete="off" checked> Comma
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="separator" id="option2" value=";" autocomplete="off"> Semicolon
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="separator" id="option3" value="\t" autocomplete="off"> Tab
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--    tab pane manage     -->
                    <div role="tabpanel" class="tab-pane well" id="manage">
                        <div class="table-responsive">
                            <table id="markersTable" class="bg-info table table-condensed table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                <tfoot class="form-inline"><tr class="form-group-sm"></tr></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--    modal footer    -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="action btn btn-primary">Next</button>
            </div>
        </div>
    </div>
</div>